* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

html {
    width: 100vw;
    height: 100vh;
    display: flex;

}

body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

}

.navbar {
    padding: 5px;
    background-color: burlywood;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

h1 {
    font-family: 'Source Sans Pro', sans-serif;

}

p {
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
}


.container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.left {
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 5px;
}

.right {
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 5px;
}



.avatar {
    width: 200px;
    box-shadow: chocolate;
    border-style: unset;


}

img {
    margin-bottom: 20px;
}

.podatkimodra {
    width: 100%;
    height: 50px;
    background-color: black;

    display: flex;
    align-items: center;
    flex-direction: column;

    justify-content: center;

}

.podatkimodra h3 {
    font-weight: bold;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
}

.podatkimodra h4 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: normal;
    color: white;
}

.podatkibela {
    width: 100%;
    height: 50px;


    display: flex;
    align-items: center;
    flex-direction: column;

    justify-content: center;

}

.podatkibela h3 {
    font-weight: bold;
    font-family: 'Source Sans Pro', sans-serif;
    color: black;
}

.podatkibela h4 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: normal;
    color: black;
}

.fluid {
    max-width: 100%;
    height: auto;
  }

.glavni-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      }
