.container {
justify-content: center;
justify-content: space-between;
align-items: center;
background-color: aqua;
color: red;
text-align: center;
align-items: space-between;
height: 100vh;

}

.privat-sporocila {
border: 5px solid red;
}