{% extends "base.html" %}
{% block title %}
about_me
{% endblock title %}

{% block glavnina %}
  <h1>about me-začetna stran</h1>

  {% if user_name %}
    <p>Pozdravljen {{user_name}}. Izberi si kaj želiš:</p>

  {% elif obvestilo_o_izpisu %}
    <h3>{{obestilo_o_izpisu}}</h3>


  {% elif ze_vpisan %}
    <p>{{ze_vpisan}}</p>

  {% else %}
    <p>Pozdravljen neznanec. Za igranje iger se moraš najprej loginati ali signinati..</p>
  {% endif %}



  <a href="/signin" name="signin">Vpiši me</a><br>
  <a href="/register" name="login">Registriraj me</a><br>
  <a href="/logout">Izpiši me</a><br>
  <a href="/hangman">Hangman</a><br>
  <a href="#">tic-tac-toe</a>

{% endblock glavnina %}
