{% extends "base.html" %}
{% block title %}
about_me
{% endblock title %}

{% block glavnina %}


  {% if user_name %}
    <p>Pozdravljen {{user_name}}. Izberi si kaj želiš:</p>

  {% elif obvestilo_o_izpisu %}
    <h3>{{obestilo_o_izpisu}}</h3>


  {% elif ze_vpisan %}
    <p>{{ze_vpisan}}</p>

  {% else %}
    <p>Pozdravljen neznanec. Za igranje iger se moraš najprej loginati ali signinati..</p>
  {% endif %}
<div class="krneki" >
   <h1>ANDRAŽ COREL- junior Python developer</h1>
<div class="boxy">
  <a href="/signin" name="signin">Vpiši me</a><br>
  <a href="/register" name="login">Registriraj me</a><br>
  <a href="/logout">Izpiši me</a><br>
  <a href="/hangman">Hangman</a><br>
  <a href="#">tic-tac-toe</a><br>
  <a href="/message">Sporočila</a>
</div>


  <div class="row ">
    <div class="col-lg-4 boxy">
       <h3>Skills</h3>
       <h5>Git/GitHub 1/5</h5>
       <h5>HTML/CSS 2/5</h5>
       <h5>Python 275</h5>
       <h5>SQL 1/5</h5>

     </div>

    <div class="col-lg-4 boxy">
       <h3>Podatki</h3>
       <h5>11.11.1990</h5>
       <h5>Brezje pri Grosupljem 71, 1290 Grosuplje</h5>
       <h5>andraz.corel30@gmail.com</h5>
       <a><h5>https://github.com/agronomija</h5></a>

     </div>

    <div class="col-lg-4 boxy">
       <h3>Hobiji</h3>
       <h5>Šport</h5>
       <h5>Branje knjig</h5>
       <h5>Druženje s kolegi</h5>
       <h5>Ljubitelj narave</h5>

     </div>

  </div>
</div>
{% endblock glavnina %}
