{% extends "base.html" %}
{% block title %}
about_me
{% endblock title %}
  {% block header %}
    <link rel="stylesheet" href="/static/css/prva.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;1,200&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,400;1,200&display=swap" rel="stylesheet">
  {% endblock header %}
{% block glavnina %}

<div class="navbar">
        <div>
            <h1>ANDRAŽ COREL</h1>
            <p>Junior developer</p>
        </div>
    </div>
    <div class="glavni-container"></div>
    <div class="container">
        <div class="left">
            <img class="avatar fluid" src="C:\Users\Andraz\Desktop\VisualstudioCodeprojekti\images\person.jpg" alt="logo" >

            <div class="podatkimodra">
                <h3>TELEFON</h3>
                <h4>051-353-016</h4>
            </div>

            <div class="podatkibela">
                <h3>Naslov</h3>
                <h4>Brezje pri grosupljem 71</h4>
            </div>



            <div class="podatkimodra">
                <h3>Email</h3>
                <h4>andraz.corel30@gmail.com</h4>
            </div>

            <div class="podatkibela">
                <h3>Datum rojstva</h3>
                <h4>11.11.1990</h4>
            </div>

            <div class="podatkimodra">
                <h3>GitHub</h3>
                <h4><a href="https://github.com/agronomija">Pvezava do profila</a></h4>
            </div>

        </div>

        <div class="right">
            <img class="avatar fluid" src="C:\Users\Andraz\Desktop\VisualstudioCodeprojekti\images\person.jpg" alt="logo" >

            <div class="podatkimodra">
                <h3>PYTHON</h3>
                <h4>2/5</h4>
            </div>

            <div class="podatkibela">
                <h3>Git/GitHub</h3>
                <h4>2/5</h4>
            </div>



            <div class="podatkimodra">
                <h3>HTML/CSS</h3>
                <h4>3/5</h4>
            </div>

            <div class="podatkibela">
                <h3>SQL (se ravno učim)</h3>
                <h4>1/5</h4>
            </div>

            <div class="podatkimodra">
                <h3>Hitrost in želja po učenju</h3>
                <h4>4/5 _{-_-}_ 5/5</h4>
            </div>

        </div>



    </div>

    <div class="container" style="margin-top: 10px;">
        <p>Ta spletna stran oziroma spletna aplikacija, je nastala med učenjem Flaska. Ni zgolj kopija stvari, ki sem se jih med ogledovanju predavanj učil, ampak je plod mojega lastnega razmišljanja in razumevanja programiranja. Zagotovo ji manjka še veliko stvari in pa ni vse narejeno tako kot delajo profesionalci, je pa bilo vse skupaj dobra vaja. Večji poudarek je na backendu, frontend še pride na vrsto ob svojem času. <a href="https://github.com/agronomija/seconTryWebApp">Tule</a> je link do kode, katera je razlog za to stran, ki jo trenutno raziskujete. Če se Vam zdi karkoli vredno komentarja imate za to možnost v blogu, za kar pa se morate najprej prijaviti.</p>
    </div>

</div>



{% endblock glavnina %}
