{% extends "base.html" %}
{% block title %}
hangman
{% endblock title %}

{% block glavnina %}


  {% if piskotek %}
    <p>Pozdravljen {{piskotek}}. Na vrsti si, da izberes črko</p>
    <p>Beseda, ki jo iščemo je {{prikaz_besede}}</p>
    {% if dosedanji_poizkusi %}
    <p>Dosedanji poizkusi: {{dosedanji_poizkusi}}, dosedanji zgrešeni poizkusi: {{zgreseni}}</p>
    <p>{{ dosedanje_crke }}</p>
    {% endif %}
    <form method="post" action="/hangman">
     <div class="form-group">
      <label for="ugibana-crka">vpiši črko</label>
      <input type="text" name="ugibana-crka"><br>
      <button type="submit">Poiskusi</button>
     </div>
    </form><br>


    <a href="/">Nazaj na prvo stran</a>

  {% elif zmaga %}
    <h1>Bravo ugotovil si besedo. Iskana beseda je bila {{iskana_beseda}}</h1>
    <p>za ugotovitev si porabil {{poizkusi}} poizkusov, od tega je bilo {{napacni_poizkusi}} napačnih poizkusov.</p>
    <a href="/hangman">Igraj še enkrat</a>
    <a href="/">Nazaj na prvo stran</a>

  {% elif poraz %}
    <h1>Prekoračil si število poizkusov. Iskana beseda je bila {{iskana_beseda}}</h1>
    <p>porabil si {{poizkusi}} poizkusov, od tega je bilo {{napacni_poizkusi}} napačnih poizkusov.</p>
    <a href="/hangman">Igraj še enkrat</a>
    <a href="/">Nazaj na prvo stran</a>

  {% elif igraj_naprej %}
     <p>Dosedanje črke: {{prikaz}}</p>
     <p>Do sedaj si poizkusil {{poizkusi}} krat.</p>
     <p>Dosedanje število napačnih poizkusov je {{napacni_poizkusi}}</p>
     <p>črke, ki si jih že preizkusil: {{dosedanje_crke}}</p>
     <form method="post" action="/hangman">
      <input type="text" name="ugibana-crka"><br>
      <button type="submit">Poiskusi</button>
    </form><br>

  {% elif ni_piskotka %}
    <h3>za nadaljevanje se je potrebno vpisati</h3>
    <a href="/">Nazaj na prvo stran</a>

  {% elif napacen_znak %}
    <h1>Vnesli ste napačen znak..vpišete lahko le eno črko</h1>
     <p>Dosedanje črke: {{prikaz}}</p>
     <p>Do sedaj si poizkusil {{poizkusi}} krat.</p>
     <p>Dosedanje število napačnih poizkusov je {{napacni_poizkusi}}</p>

     <form method="post" action="/hangman">
      <input type="text" name="ugibana-crka"><br>
      <button type="submit">Poiskusi</button>
    </form><br>


  {% else %}
    <p>Če nič od zgornjega ne drži</p>

  {% endif %}




{% endblock glavnina %}
