{% extends "base.html" %}
{% block title %}
login
{% endblock title %}

{% block glavnina %}

{% if enak_username_email %}
  <p>{{enak_username_email}}</p>
{% elif enak_email %}
  <p>{{enak_email}}</p>
{% elif enak_username %}
  <p>{{enak_username}}</p>
{% endif %}

{% if nihce_vpisan %}
  <p>{{nihce_vpisan}}</p>
{% endif %}

<form method="post" action="/register">
    <div class="form-group">
      <label for="user_name">Vpiši username: </label>
      <input class="form-control" type="text" id="user_name" name="user-name" placeholder="enter username">
    </div>

    <div class="form-group">
      <label for="user_email">Vpiši svoj email: </label>
      <input class="form-control" type="email" id="user_email" name="user-email" placeholder="email@test.com">
        <small class="form-text text-muted">We eill never share your email with any annoying company..</small>
    </div>

    <div class="form-group">
      <label for="user_password">Vnesi geslo: </label>
      <input class="form-control" type="password" id="user_password" name="user-password" placeholder="enter password"><br>
    </div>

    <button class="btn btn-primary" type="submit" value="vpisi me">Vpiši me</button>
</form>

    <a href="/">Nazaj na prvo stran</a>



{% endblock glavnina %}
