{% extends "base.html" %}
{% block title %}
login
{% endblock title %}

{% block glavnina %}

{% if enak_username_email %}
  <p>{{enak_username_email}}</p>
{% elif enak_email %}
  <p>{{enak_email}}</p>
{% elif enak_username %}
  <p>{{enak_username}}</p>
{% endif %}

{% if nihce_vpisan %}
  <p>{{nihce_vpisan}}</p>
{% endif %}
<form method="post" action="/register">
    <label for="user-name">Vpiši username: </label>
    <input type="text" name="user-name" placeholder="enter username"><br>
    <label for="user-email">Vpiši svoj email: </label>
    <input type="email" name="user-email" placeholder="email@test.com"><br>
    <label for="user-password">Vnesi geslo: </label>
    <input type="password" name="user-password" placeholder="enter password"><br>
    <button type="submit" value="vpisi me">Vpiši me</button>
<br>

    <a href="/">Nazaj na prvo stran</a>


{% endblock glavnina %}
