{% extends "base.html" %}
{% block title %}
recieved_messages
{% endblock title %}

{% block glavnina %}






{% if not piskotek %}
 <p>za nadaljevanje se je potrebno vpisati</p>

{% elif ni_sporocila %}
  {{ ni_sporocila }}


{% elif sporocila %}

  {% for sporocilo in sporocila %}
    {% if sporocilo.sender == piskotek %}
    <div class="privat-sporocila">
      <p><strong>Poslal si uporabniku: </strong> {{sporocilo.reciever}}</p>

      <p><strong>naslov: </strong> {{sporocilo.title}}</p>
      <p><strong>sporočilo: </strong> {{sporocilo.message}}</p>
    </div>
     {% endif %}


    {% endfor %}
{% endif %}





{% endblock glavnina %}