{% extends "base.html" %}
{% block title %}
login
{% endblock title %}

{% block glavnina %}

{% if vpisan %}
  <p>{{vpisan}}</p><br>
  <a href="/">Odjavi me</a>

{% elif obvestilo %}
  <p>{{obvestilo}}</p>

{% elif ni_userja %}
  <p>{{ni_userja}}</p>

{% else %}
  <p>Vpišite svoje podatke..</p>

{% endif %}


<form method="post" action="/search_user">
    <input type="email" name="user-email" placeholder="email@test.com"><br>
    <input type="password" name="user-password" placeholder="enter password"><br>
    <button type="submit" value="vpisi me">Vpiši me</button>
</form>


{% endblock glavnina %}
