{% extends "base.html" %}
{% block title %}
users
{% endblock title %}

{% block glavnina %}









{% if users %}
  <h2>uporabniška imena vseh uporabnikov. napiši jim sporočilo</h2>
  {% for user in users %}
    {% if piskotek == user.user_name %}
      <p>{{user.user_name}}     sebi ne moreš popslati sporočila</p>
    {% else %}
      <a href="/users/{{user.user_name}}">{{user.user_name}}</a><br>
    {% endif %}
  {% endfor %}
 {% else %}
  <p>Baza s podatki je prazna oziroma si prijavljen zgolj ti...</p>
{% endif %}





{% endblock glavnina %}
