{% extends "base.html" %}
{% block title %}
user_message
{% endblock title %}

{% block glavnina %}
  {% if piskotek %}
  <p>Pošiljaš {{user_name}}-u</p>
<form action="/sent_unsent" method="post">
    <input name="reciever" value="{{user_name}}" type="hidden"><br>
    <div class="form-group">
      <label>Naslov</label>
      <input class="form-control" type="text" placeholder="title" name="title"><br>
    </div>
    <div class="form-floating">
      <label for="comment">Comments</label>
      <textarea id="comment" class="form-control" name="message" style="height: 100px"></textarea><br>
    </div>

    <button class="btn btn-primary" type="submit">Pošlji</button>
</form>

  {% else %}
  <h1>{{registreraj_se}}</h1>

  {% endif %}



{% endblock glavnina %}
